@model Vidly.ViewModels.LayoutViewModel
@using Vidly.Models

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink((string)Model.GetApplicationName(), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                @if (Model.Customers.Count > 0 )
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Customers
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (Customer customer in Model.Customers)
                            {
                                <li>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id } ,null )</li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>