@model Vidly.Models.Movies

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<pre>
    Id = @Model.id
    Genre = @Model.Genre.Name
    Release Date = @Model.ReleaseDate.ToString("MM/dd/yyyy")
    Date Added = @Model.DateAdded.ToString("MM/dd/yyyy")
    In Stock = @Model.NumberInStock
</pre>